.category-container {
  padding: 70px 0px 0px 0px;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("../assets/img/cover.jpg");

  .header {
    font-family: "Poppins";
    font-size: 2em;
    margin: 30px 20px 0px 20px;
  }
}
