@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.landing {
  .spinner {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 300px;

    .fa-spinner {
      display: flex;
      align-self: center;
      justify-content: center;
      align-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      margin: 0;
      font-size: 2em;
      padding: 0;
      margin: 0;
      color: #eb5d24;
      animation-name: spin;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  }
}
