.wishlist-container {
  background-color: #f1f1f1;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  padding: 100px 0 50px 0;

  .wishlist {
    width: auto;
    overflow: hidden;
    border-radius: 5px;

    height: auto;
    box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000001f;

    .header {
      display: flex;
      justify-content: space-around;
      box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000001f;
      background-color: #eb5d24;
      border-radius: 5px 5px 0px 0px;
      overflow: hidden;
      color: #fff;
    }

    .footer {
      display: flex;
      flex-flow: row;
      justify-content: flex-end;
      box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000001f;
      background-color: #e2e2e2;
      height: auto;
      margin: 0px;
      padding: 10px;

      button {
        height: auto;
        padding: 10px 15px;
        outline: none;
        width: auto;
        color: #fff;
        background-color: #eb5d24;
        border: none;
        border-radius: 5px;
        font-size: 1em;
        transition: 0.2s background-color ease-in-out;

        &:hover {
          background-color: #c04f22;
          cursor: pointer;
        }
      }
    }
  }
}
