//fonts
$accent: #00b37d;
$accent-hover: #00865e;

// Navbar component
$nav-menu-bg: #1d1d1d;
$nav-menu-color: #ffffff;

@mixin card {
  // background-color: #ffffff;
  box-shadow: #0000004d 1px 1px 3px 1px;
  border-radius: 5px;
}

//Statusbar component
$statusbar-bg: #1d1d1d;
$profile-img-bg: $accent;
$profile-img-bg-hover: $accent-hover;
$icon-color: #ececec;
$icon-hover: $accent;

//Login component

//Offer component
$offer-bg: #080808;
$offer-color: #fff;