//fonts

// Navbar component
$nav-menu-bg: #ffffff;
$nav-menu-color: #000000;

@mixin card {
  background-color: #ffffff;
  box-shadow: #0000004d 1px 1px 3px 1px;
  border-radius: 5px;
}

//Statusbar component
$profile-img-bg: #0066ff;
$icon-color: #eb5d24;
$icon-hover: #eb5d24;

//Login component
