.footer {
  width: 100%;
  height: auto;
  background-color: #242e41;
  margin-top: 50px;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  justify-content: space-between;

  a {
    color: #6e8dc7;
    font-style: none;
    text-decoration: none;
    transition: 0.2s color ease-in-out;

    &:hover {
      color: #b0cbfc;
    }
  }

  p {
    color: #eb5d24;
    font-weight: 100;
    font-size: 1.2em;
  }

  .footer-links {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    box-sizing: border-box;
    font-size: 0.9em;

    .linkSet {
      display: flex;
      flex-flow: column;
      margin: 20px 0px;

      a {
        margin: 5px 0px;
      }
    }
  }

  .bottom {
    display: flex;
    align-content: center;
    justify-content: space-between;
    background-color: #1a2230;
    padding: 10px;

    .link {
      margin: 0px 20px;
      font-size: 0.8em;
    }

    p {
      margin: 0;
      font-size: 0.8em;
      color: #617db1;
      span {
        color: #8aa2ce;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .footer {
    .footer-links {
      margin: 0 0 20px 0;
      flex-flow: column;
      align-items: center;
      flex-wrap: wrap;

      .linkSet {
        margin: 10px 10px;
        text-align: center;
        font-size: 1.1em;
        a {
        }
      }
    }

    .bottom {
      display: flex;
      align-content: center;
      justify-content: space-between;
      background-color: #1a2230;
      padding: 10px 10px 60px 10px;
      height: 40px;

      div {
        display: flex;
      }

      .link {
        margin: 0px 10px;
        font-size: 0.8em;
      }

      p {
        height: 10px;
        font-size: 0.8em;
        color: #617db1;

        span {
          color: #8aa2ce;
        }
      }
    }
  }
}
