.section {
  display: flex;
  flex-flow: column;
  width: 100%;
  padding: 0px 30px;

  .heading {
    font-size: 2em;
    font-family: "Poppins";
    font-weight: 100;
    padding: 0px 10px;
    margin: 50px 0 0 0;
  }

  .items {
    display: flex;
    flex-wrap: wrap;
  }
}
