@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.landing {
  .cover {
    box-sizing: border-box;
    width: 100%;
    height: 70vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("../assets/img/cover.jpg");
    transition: 0.2s filter ease-in-out;

    .overlay {
      width: 100%;
      height: 100%;
      z-index: 1;
      background-image: linear-gradient(#0000006b, #0000006b);
      display: flex;
      flex-flow: column;
      justify-content: center;

      div:nth-child(1) {
        font-family: "Kaushan Script";
        position: inherit;
        font-size: 2.5em;
      }

      div:nth-child(2) {
        font-weight: bold;
      }

      .cover-section {
        color: #fff;
        font-size: 4em;
        text-align: center;
        font-family: "Poppins";
        font-weight: 100;
      }
    }
  }

  .spinner {
    width: 100%;
    display: flex;
    justify-content: center;

    padding: 10px;
    height: 300px;

    .fa-spinner {
      display: flex;
      align-self: center;
      justify-content: center;
      align-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      margin: 0;
      font-size: 2em;
      padding: 0;
      margin: 0;
      color: #eb5d24;
      animation-name: spin;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  }
}
