@import "../styles/_styles";

@mixin bar {
  background-color: #fff;
  height: 3px;
  width: 25px;
  margin: 5px 0;
}

@keyframes expand-nav {
  from {
    height: 95px;
    width: 250px;
  }

  to {
    height: 50px;
    width: 180px;
  }
}

@keyframes collapse-nav {
  from {
    height: 50px;
    width: 180px;
  }

  to {
    height: 95px;
    width: 250px;
  }
}

link {
  text-decoration: none;
}

.expand-nav {
  animation-name: expand-nav;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.collapse-nav {
  animation-name: collapse-nav;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.navbar {
  box-sizing: border-box;

  #navbar-container {
    background-color: $nav-menu-bg;
    box-shadow: #0000004d 1px 1px 3px 1px;
    border-radius: 5px;
    width: 180px;
    height: 50px;
    flex-flow: column;
    overflow: hidden;
    position: fixed;
    margin: 15px 0px 0px 15px;
    top: 0;
    left: 0;
    z-index: 3;

    .nav-menu {
      display: flex;
      background-color: $nav-menu-bg;
      height: 50px;
      color: $nav-menu-color;

      #nav-btn {
        width: 50px;
        height: 50px;
        border: none;
        background-color: transparent;
        cursor: pointer;
        outline: none;
        transition: 0.2s all ease-in-out;
        padding: 0;
        margin: 0;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        div {
          .bar {
            @include bar();
          }
        }
      }

      .logo {
        font-family: "Poppins";
        font-size: 1em;
        display: flex;
        align-items: center;
        border: #ffffff 2px solid;
        height: 15px;
        padding: 5px;
        font-weight: bold;
        align-self: center;
        letter-spacing: 4px;

        div {
          color: $accent;
        }
      }
    }

    ul {
      list-style: none;
      height: auto;
      width: auto;
      padding: 0px;
      margin: 0;

      .link {
        font-family: "Poppins";
        cursor: pointer;
        color: #ffffff;
        padding: 5px 20px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        width: auto;
        background-color: transparent;
        font-size: 1em;
        height: 35px;
        transition: 0.2s all ease-in-out;
        text-decoration: none;

        &:hover {
          background-color: $accent;
          color: #ffffff;
        }
      }
    }
  }

  //Responsive
  @media only screen and (max-width: 600px) {
    @keyframes expand-nav {
      from {
        height: 275px;
      }

      to {
        height: 50px;
      }
    }

    @keyframes collapse-nav {
      from {
        height: 50px;
      }

      to {
        height: 275px;
      }
    }

    #navbar-container {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      border-radius: 0;
      margin: 0;
      box-shadow: #00000056 0px 3px 3px 1px;

      .nav-menu {
        justify-content: center;

        #nav-btn {
          position: absolute;
          left: 0;
        }

      }
    }
  }
}