@import "../styles/styles";

@mixin flex-center() {
  display: flex;
  align-items: center;
}

// * {
//   border: 1px red solid;
// }

.productMaintenanceItem {
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  background-color: #161616;
  width: 100%;
  height: 80px;
  padding: 10px;
  justify-content: flex-start;
  box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000001f;
  border-bottom: #111 1px solid;
  transition: 0.2s height ease-in-out;

  .image {
    display: flex;
    margin: 0 20px;
    align-items: center;
    width: 80px;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: $accent 2px solid;
    }
  }

  .id {
    display: flex;
    align-items: center;
    text-align: left;
    margin: 0 10px;
    padding: 0px;
    min-width: 60px;
    color: #fff;
  }

  .category {
    display: flex;
    align-items: center;
    text-align: left;
    margin: 0 10px;
    padding: 0px;
    min-width: 70px;
    color: #fff;
  }

  .rating {
    display: flex;
    align-items: center;
    text-align: left;
    margin: 0 10px;
    padding: 0px;
    min-width: 70px;
    color: #fff;
  }

  .title {
    display: flex;
    align-items: center;
    text-align: left;
    margin: 0 10px;
    padding: 0px;
    width: 400px;
    color: #fff;
  }

  .info {
    @include flex-center();
    margin: 0 10px;
    width: auto;

    .quantity {
      @include flex-center();
      margin: 0 60px;
      width: 20px;
      color: #fff;
    }

    .price {
      @include flex-center();
      margin: 0 80px 0 40px;
      width: 20px;
      color: #fff;
    }

    .delete-btn {
      display: flex;
      align-items: center;

      button {
        border: none;
        background: none;
        outline: none;
        cursor: pointer;
      }

      i {
        font-size: 1.5em;
        width: 20px;
        height: 20px;
        color: #ff0000;
      }
    }
  }
}