// @font-face {
//   font-family: "Product Sans Regular";
//   src: url("./fonts/Product Sans Regular.ttf");
// }

* {
  font-family: "Open Sans";
}

body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #0c0c0c;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}